<app-adminnavbar></app-adminnavbar>
<br />
<h1>Change Password</h1>

<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="
    changePassword(changePasswordForm.value); changePasswordForm.reset()
  "
>
  <div class="main-div">
    <div>
      <div>
        <label for="emailId">Email ID: </label>
      </div>
      <div>
        <input
          type="text"
          class="form-control"
          placeholder="{{ Customer.emailID }}"
          disabled
        />
      </div>
    </div>

    <br />
    <div>
      <div>
        <div class="required">
          <label> Enter Current Password : </label>
        </div>
      </div>
      <div>
        <input
          formControlName="currentPassword"
          type="password"
          placeholder="Enter Current Password"
          class="form-control"
        />
        <div
          *ngIf="
            changePasswordForm.get('currentPassword').errors &&
            changePasswordForm.get('currentPassword').invalid &&
            changePasswordForm.get('currentPassword').touched
          "
        >
          <small
            class="text-danger"
            *ngIf="changePasswordForm.get('currentPassword').errors.required"
          >
            Current Password is required field</small
          >
        </div>
      </div>
    </div>

    <br />
    <div>
      <div>
        <div class="required">
          <label> Enter New Password : </label>
        </div>
      </div>

      <div>
        <input
          formControlName="newPassword"
          type="password"
          placeholder="Enter New Password"
          class="form-control"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        />
        <div
          *ngIf="
            changePasswordForm.get('newPassword').errors &&
            changePasswordForm.get('newPassword').invalid &&
            changePasswordForm.get('newPassword').touched
          "
        >
          <small
            class="text-danger"
            *ngIf="changePasswordForm.get('newPassword').errors.required"
          >
            New Password is required field</small
          >

          <small
            class="text-danger"
            *ngIf="changePasswordForm.get('newPassword').errors.pattern"
            >Password should be in proper format (It must contains minimum eight
            characters, at least one uppercase letter, one lowercase letter, one
            number and one special character)</small
          >
        </div>
      </div>
    </div>

    <br />
    <div>
      <div>
        <button
          class="btn btn-danger cancelbtn"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Cancel!"
          style="width: 260px"
          routerLink="/Admin"
        >
          Cancel
        </button>
        <button
          class="btn btn-primary text-dark"
          style="color: black"
          style="width: 260px"
          [disabled]="changePasswordForm.invalid"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Change User's Password!"
        >
          Change Password
        </button>
      </div>
    </div>
  </div>
</form>
