<app-adminnavbar></app-adminnavbar>
<br>
<h1>Change Password</h1>

<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="
    changePassword(changePasswordForm.value); changePasswordForm.reset()
  "
>
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-3">
        <label for="emailId">Email ID: </label>
      </div>

      <div class="col-3">
        <input
          type="text"
          class="form-control"
          placeholder="{{ Customer.emailID }}"
          disabled
        />
      </div>
    </div>

    <br />
    <div class="row justify-content-sm-center">
      <div class="col-3">
        <div class="required">
          <label class="col-form-label">
            Enter Current Password : 
          </label>
        </div>
      </div>
      <div class="col-3">
        <input
          formControlName="currentPassword"
          type="password"
          placeholder="Enter Current Password"
          class="form-control"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        />
        <div
          *ngIf="
            changePasswordForm.get('currentPassword').errors &&
            changePasswordForm.get('currentPassword').invalid &&
            changePasswordForm.get('currentPassword').touched
          "
        >
          <small
            class="text-danger"
            *ngIf="changePasswordForm.get('currentPassword').errors.required"
          >
            Current Password is required field</small
          >

          <small
            class="text-danger"
            *ngIf="changePasswordForm.get('currentPassword').errors.pattern"
            >Password should be in proper format (It must contains minimum eight
            characters, at least one uppercase letter, one lowercase letter, one
            number and one special character)</small
          >
        </div>
      </div>
    </div>

    <br />
    <div class="row justify-content-sm-center">
      <div class="col-3">
        <div class="required">
          <label class="col-form-label"> Enter New Password : </label>
        </div>
      </div>

      <div class="col-3">
        <input
          formControlName="newPassword"
          type="password"
          placeholder="Enter New Password"
          class="form-control"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        />
        <div
          *ngIf="
            changePasswordForm.get('newPassword').errors &&
            changePasswordForm.get('newPassword').invalid &&
            changePasswordForm.get('newPassword').touched
          "
        >
          <small
            class="text-danger"
            *ngIf="changePasswordForm.get('newPassword').errors.required"
          >
            New Password is required field</small
          >

          <small
            class="text-danger"
            *ngIf="changePasswordForm.get('newPassword').errors.pattern"
            >Password should be in proper format (It must contains minimum eight
            characters, at least one uppercase letter, one lowercase letter, one
            number and one special character)</small
          >
        </div>
      </div>
    </div>

    <br />
    <div class="row justify-content-sm-end">
      <div class="col-3">
        <button class="btn btn-danger cancelbtn" data-toggle="tooltip" data-placement="bottom" title="Cancel!">Cancel</button>
      </div>
      <div class="col-6">
        <button
          class="btn btn-primary text-dark"
          style="color: black"
          style="width: 260px"
          [disabled]="changePasswordForm.invalid"
          data-toggle="tooltip" data-placement="bottom" title="Change User's Password!"
        >
          Change Password
        </button>
      </div>
    </div>
  </div>
</form>
