<app-customer-navbar></app-customer-navbar>
<h1>Customer Details</h1>
<ngx-spinner bdColor="rgba(51,51,51,0.9)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: rgb(255, 255, 255)">Loading...</p>
</ngx-spinner>
<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-3">
            <label for="firstName">First Name: </label>
        </div>

        <div class="col-3">
            <input type="text" class="form-control" placeholder="{{ Customer.firstName }}" disabled
                data-toggle="tooltip" data-placement="bottom" title="{{ Customer.firstName }}!">
        </div>
    </div>
    <br>
    <div class="row justify-content-sm-center">
        <div class="col-3">
            <label for="lastName">Last Name: </label>
        </div>

        <div class="col-3">
            <input type="text" class="form-control" placeholder="{{Customer.lastName}}" disabled data-toggle="tooltip"
                data-placement="bottom" title="{{Customer.lastName}}!">
        </div>
    </div>
    <br>

    <div class="row justify-content-sm-center">
        <div class="col-3">
            <label for="emailID">Email ID: </label>
        </div>

        <div class="col-3">
            <input type="text" class="form-control" placeholder="{{Customer.emailID}}" disabled data-toggle="tooltip"
                data-placement="bottom" title="{{Customer.emailID}}!">
        </div>
    </div>

    <br>
    <div class="row justify-content-sm-center">
        <div class="col-3">
            <label for="mobileNo">Mobile Mumber: </label>
        </div>

        <div class="col-3">
            <input type="text" class="form-control" placeholder="{{Customer.mobileNo}}" disabled data-toggle="tooltip"
                data-placement="bottom" title="{{Customer.mobileNo}}!">
        </div>
    </div>
    <br>

    <div class="row justify-content-sm-center">
        <div class="col-3">
            <label for="permanentAddress">Address: </label>
        </div>

        <div class="col-3">
            <input type="text" class="form-control" placeholder="{{Customer.permanentAddress}}" disabled
                data-toggle="tooltip" data-placement="bottom" title="{{Customer.permanentAddress}}!">
        </div>
    </div>
    <br>

    <div class="row justify-content-sm-center">

        <div class="col-3">
            <label for="permanentCity">City: </label>
        </div>

        <div class="col-3">
            <input type="text" class="form-control" placeholder="{{Customer.permanentCity}}" disabled
                data-toggle="tooltip" data-placement="bottom" title="{{Customer.permanentCity}}!">
        </div>
    </div>
    <br>
    <div class="row justify-content-sm-center">
        <div class="col-3">
            <label for="permanentState: ">State: </label>
        </div>

        <div class="col-3">
            <input type="text" class="form-control" placeholder="{{Customer.permanentState}}" disabled
                data-toggle="tooltip" data-placement="bottom" title="{{Customer.permanentState}}!">
        </div>
    </div>
</div>