<app-customer-navbar></app-customer-navbar>
<h1>Customer Details</h1>
<ngx-spinner bdColor="rgba(51,51,51,0.9)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: rgb(255, 255, 255)">Loading...</p>
</ngx-spinner>
<div class="card">
    <div class="name" for="firstName">
      <img src="../../assets/images/profile.png" />
      <p>{{ Customer.firstName + " " + Customer.lastName }}</p>
    </div>
    <div>
      <p>{{ Customer.emailID }}</p>
    </div>
    <div>
      <p>{{ Customer.mobileNo }}</p>
    </div>
    <div>
      <p>{{ Customer.permanentAddress }}</p>
    </div>
    <div>
      <p>{{ Customer.permanentCity }}</p>
    </div>
    <div>
      <p>{{ Customer.permanentState }}</p>
    </div>
  </div>