<app-adminnavbar></app-adminnavbar>
<!-- <h1>Action perfrom Here</h1> -->

<br>

<div class="text-center">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="../../assets/images/ten.jpg" alt="image not found" style="height: 400px;">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../assets/images/nine.jpg" alt="image not found" style="height: 400px;">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../assets/images/six.jpg"
                alt="image not found" style="height: 400px;">
        </ng-template>
    </owl-carousel-o>
</div>

<div class="importantNotice">
    <img src="../../assets/images/impontantNotice.JPG" alt="image not found">
</div>

<!-- <div id="overflowTest">
</div> -->