<div class="logo">
  <img src="../../assets/images/header.jpg" alt="image not found">
</div>
<nav>
  <mat-toolbar class="bg-primary">
    <button mat-button routerLink="/CustomerHome">Home</button>
    <button mat-button routerLink="/Customer/CustomerDetails">Customer Details</button>
    <button mat-button [matMenuTriggerFor]="accountinfoSub">Account Information</button>
    <mat-menu #accountinfoSub="matMenu" class="bg-info">
      <button mat-menu-item routerLink="/Customer/Account_Information/Create_Account">Create Account</button>
      <button mat-menu-item routerLink="/Customer/Account_Information/Account_Statement">Account Statement</button>
    </mat-menu>
    <button mat-button routerLink="/Customer/Fund_Transfer">Transfer Fund</button>
    <button mat-button routerLink="/Customer/UserDetails">Update Details</button>
    <button mat-button  (click)="onLogout()" >Logout</button>
  </mat-toolbar>
</nav>