<nav>
  <mat-toolbar
    style="background-color: #2e3138ff; color: #ccc9e7ff; overflow: hidden"
  >
    <img
      src="../../assets/images/newlogo.png"
      style="width: 100px; float: left"
      alt="image not found"
    />
    <button mat-button routerLink="/home" *ngIf="!isUserLoggedIn">Home</button>
    <button mat-button routerLink="/Admin" *ngIf="isUserLoggedIn">Home</button>
    <button mat-button routerLink="/login" *ngIf="!isUserLoggedIn">
      Login
    </button>
    <button mat-button (click)="onLogout()" *ngIf="isUserLoggedIn">
      Logout
    </button>
  </mat-toolbar>
</nav>
