<app-customer-navbar></app-customer-navbar>

<div class="container">
    <div class="row">
        <div *ngFor="let account of AllAccount " class="col-lg-6 mb-4s">
            <!-- *ngIf="account.userAccountStatusType!=3" -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h1>
                            <p *ngIf="account.userAccountType===1">Saving Account</p>
                            <p *ngIf="account.userAccountType===2">Current Account</p>
                        </h1>
                    </div>
                    <div class="flip-card-back">
                        <table>
                            <tr>
                                <td>
                                    <label>
                                        Account Number :
                                    </label>
                                </td>
                                <td>
                                    <input type="text" disabled placeholder="{{account.accountNumber}}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Balance :
                                    </label>
                                </td>
                                <td>
                                    <input type="text" disabled placeholder="{{account.balance}}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Reg Status :
                                    </label>
                                </td>
                                <td>
                                    <input type="text" disabled placeholder="PENDING"
                                        *ngIf="account.accountRegStatusType===1">
                                    <input type="text" disabled placeholder="APPROVED"
                                        *ngIf="account.accountRegStatusType===2">
                                    <input type="text" disabled placeholder="REJECTED"
                                        *ngIf="account.accountRegStatusType===3">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Account Status :
                                    </label>
                                </td>
                                <td>
                                    <input type="text" disabled placeholder="ACTIVE"
                                        *ngIf="account.userAccountStatusType===1">
                                    <input type="text" disabled placeholder="INACTIVE"
                                        *ngIf="account.userAccountStatusType===2">
                                    <input type="text" disabled placeholder="DEACTIVATED"
                                        *ngIf="account.userAccountStatusType===3">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>