<app-customer-navbar></app-customer-navbar>
<ngx-spinner></ngx-spinner>
<h1>Welcome {{Customer.firstName + " " + Customer.lastName}}</h1>

<div class=" text-center">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="../../assets/images/five.jpg" alt="image not found" style="height: 400px;">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../assets/images/two.jpg" alt="image not found" style="height: 400px;">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../assets/images/eight.jpg" alt="image not found" style="height: 400px;">
        </ng-template>
    </owl-carousel-o>
</div>

<div class="importantNotice">
    <img src="../../assets/images/impontantNotice.JPG" alt="image not found">
</div>

<!-- <div id="overflowTest">
</div> -->