<app-navbar></app-navbar>
<!-- <div>
  <mat-card class="design" >
    <button mat-button (click) = showOtp() *ngIf=!OtpBased> Switch to Otp Based</button>
    <button mat-button (click) = showAnswer() *ngIf=OtpBased>Switch to Answer Based</button>    
  </mat-card>
</div> -->
<!-- <div> 
  <input type="button" (click) = showOtp() >OtpBased
  <input type="button" (click) = showAnswer() >Answer Based 
  {{OtpBased}}
</div> -->

<div class="main-otp">
<!--button based-->
<mat-card class="design"  *ngIf=OtpBased>
  <div class="Otp_based">
    
    <form [formGroup]="forgotPassByQue"  (ngSubmit)="forgotPassByOtp(forgotPassByQue.value)"
      #forgotPassByQueform="ngForm">
      <button mat-button class="bg-secondary text-white" (click)=showAnswer() *ngIf=OtpBased >Switch to Answer
      </button>
      <div class="form-group">
        <div class="required">
          <label>Email</label>
        </div>
        <input type="text" formControlName="emailID" class="form-control" placeholder="Enter Email">
        <div *ngIf=" forgotPassByQue.controls.emailID.touched && forgotPassByQue.controls.emailID.invalid"
          class="text-danger">
          <div *ngIf="forgotPassByQue.controls.emailID.errors.required">Email is required
            field.</div>
        </div>
      </div>
      <div class="form-group" *ngIf=" validEmail">
        <input type="number" formControlName="otp" class="form-control" placeholder="Enter Otp" onkeydown="return event.keyCode === 8 ||
        event.keyCode === 46 ? true : !isNaN(Number(event.key))" onKeyPress="if(this.value.length==4) return false;"
        [ngClass]="{ 'is-invalid': submitted && forgotPassByQue.controls.otp.errors }">
        <div *ngIf="forgotPassByQue.controls.otp.errors && (forgotPassByQue.controls.otp.invalid && forgotPassByQue.controls.otp.touched)">
          <small class="text-danger" *ngIf="forgotPassByQue.controls.otp.errors.required">Otp is required
              field</small>
      </div>
      </div>
      


      <div class="row" *ngIf=" validEmail">
        <div class=" col form-group">
          <input type="password" formControlName="password" class="form-control" placeholder="New Password" 
            [ngClass]="{ 'is-invalid': submitted  }">         
            <div *ngIf="forgotPassByQue.controls.password.touched && forgotPassByQue.controls.password.invalid"  >
              <small class="text-danger" *ngIf="forgotPassByQue.controls.Confirmpassword.errors.required">Password is required
                field</small>
            </div>
           </div>
        <div class=" col form-group">
          <input type="password" formControlName="Confirmpassword" class="form-control" placeholder="Confirm Password"        
          [ngClass]="{ 'is-invalid': submitted && forgotPassByQue.controls.Confirmpassword.errors && forgotPassByQue.controls.password.touched }">
          <div *ngIf="forgotPassByQue.controls.Confirmpassword.errors && (forgotPassByQue.controls.Confirmpassword.invalid && forgotPassByQue.controls.Confirmpassword.touched)">
            <small class="text-danger" *ngIf="forgotPassByQue.controls.Confirmpassword.errors.required">Password is required
                field</small>
        </div>
          <small class="text-danger"
              [class.d-none]="(forgotPassByQue.controls.Confirmpassword.value==forgotPassByQue.controls.password.value) ">Password
              &
              Confirm
              Password Must be same</small>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" *ngIf="! validEmail">Send OTP</button>
        <button class="btn btn-primary" *ngIf=" validEmail" (click)='verifyOtp()'>Submit Password</button>
      </div>
    </form>

  </div>
</mat-card>
</div>
<div class="main-answer">
<!--answer Based-->
<mat-card class="design"  *ngIf=!OtpBased>

  <div class="Answer_based">
    <button mat-button class="bg-secondary text-white" (click)=showOtp() *ngIf=!OtpBased>Switch to Otp</button>
    <form [formGroup]="forgotPassByQue"  (ngSubmit)="forgotPassByQueF(forgotPassByQue.value)">
      <div class="form-group">
        <div class="required">
          <label>Email</label>
        </div>
        <input type="text" formControlName="emailID" class="form-control" placeholder="Enter Email">
        <div *ngIf=" forgotPassByQue.controls.emailID.touched && forgotPassByQue.controls.emailID.invalid"
          class="text-danger">
          <div *ngIf="forgotPassByQue.controls.emailID.errors.required">Email is required
            field.
          </div>
        </div>
      </div>
      <div class="form-group">
        <select class="custom-select" formControlName="securityQuestion" (change)="selectChangeHandler($event)"
          [ngClass]="{ 'is-invalid': submitted && forgotPassByQue.controls.securityQuestion.errors }">
          <option label="securityQuestion" disabled></option>
          <option value="What Is your favorite book?" selected>What Is your favorite book?</option>
          <option value="What was the name of your first/current/favorite pet?">What was the name of your
            first/current/favorite pet?</option>
          <option value="What is your favorite food?">What is your favorite food?</option>
        </select>
        <small class="text-danger"
          [class.d-none]="forgotPassByQue.controls.securityQuestion.valid || forgotPassByQue.controls.securityQuestion.untouched">Question
          is
          required
          field</small>

      </div>

      <div class="form-group">
        <input type="text" formControlName="answer" class="form-control" placeholder="Answer"
          [ngClass]="{ 'is-invalid': submitted && forgotPassByQue.controls.answer.errors }" >
        <div *ngIf=" forgotPassByQue.controls.answer.touched && forgotPassByQue.controls.answer.errors"
          class="text-danger">
          <div *ngIf="forgotPassByQue.controls.answer.errors.required">Answer is required</div>
        </div>
      </div>
      <div class="row" >
        <div class=" col form-group">
          <input type="password" formControlName="password" class="form-control" placeholder="New Password" 
            [ngClass]="{ 'is-invalid': submitted  }">         
            <div *ngIf="forgotPassByQue.controls.password.touched && forgotPassByQue.controls.password.invalid"  >
              <small class="text-danger" *ngIf="forgotPassByQue.controls.Confirmpassword.errors.required">Password is required
                field</small>
            </div>
           </div>
        <div class=" col form-group">
          <input type="password" formControlName="Confirmpassword" class="form-control" placeholder="Confirm Password"        
          [ngClass]="{ 'is-invalid': submitted && forgotPassByQue.controls.Confirmpassword.errors && forgotPassByQue.controls.password.touched }">
          <!-- [class.is-invalid]="forgotPassByQue.controls.invalid && forgotPassByQue.controls.touched" -->
          <div *ngIf="forgotPassByQue.controls.Confirmpassword.errors && (forgotPassByQue.controls.Confirmpassword.invalid && forgotPassByQue.controls.Confirmpassword.touched)">
            <small class="text-danger" *ngIf="forgotPassByQue.controls.Confirmpassword.errors.required">Password is required
                field</small>
        </div>
          <small class="text-danger"
              [class.d-none]="(forgotPassByQue.controls.Confirmpassword.value==forgotPassByQue.controls.password.value) ">Password
              &
              Confirm
              Password Must be same</small>
        </div>
      </div>


      <div class="form-group">
        <button class="btn btn-primary" >Update Password</button>
      </div>
    </form>
  </div>
</mat-card>
</div>







<!--Radio Button Based-->
<!-- <div>
  <input type="radio" name="A" value="true" (change) = "RCH($event)" >OtpBased
  <input type="radio" name="A" value="false" (change) = "RCH($event)" >Answer Based 
  {{OtpBased}}
</div>

<p *ngIf=OtpBased>Otp</p>
<p *ngIf=!OtpBased>AnswerBased</p>

 <mat-card class="design"  *ngIf="options === 'As Otp'" >
  <div class="container" >
      <h1>Otp Based</h1>
    </div>   
  </mat-card>

<mat-card class="design"  *ngIf="options === 'As AnswerBased'">
  <div class="container" >
      <h1>Answer Based</h1>
    </div>   
  </mat-card>


  <div class="col-xs-5" style="margin-right: 60px;">
    <input
      name="options"
      type="radio"
      value="As Otp"
    />
    <label class="radio-inline patient-clinician-label">
      As Otp</label
    >
  </div>
  <div class="col-xs-5" style="margin-right: 60px;">
    <input
      name="options"
      type="radio"
      value="As AnswerBased"
    />
    <label class="radio-inline patient-clinician-label">
      As AnswerBased</label>
  </div> -->