<app-navbar></app-navbar>
<mat-card class="design">
  <div class="login-form">
    <form [formGroup]="ForgetForm" (ngSubmit)="forgetPass(ForgetForm.value)">
      <div class="form-group" >
        <label>Email</label>
        <input type="text" formControlName="emailID" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && ForgetForm.controls.emailID.errors }" />
        <div *ngIf="submitted && ForgetForm.controls.emailID.errors" class="text-danger">
          <div *ngIf="ForgetForm.controls.emailID.errors.required">Email is required</div>
          <div *ngIf="ForgetForm.controls.emailID.errors.email">Email must be a valid email address</div>
        </div>
        <div class="form-group" *ngIf="IsValidEmail">
          <input type="text" class="form-control" formControlName="Otp" placeholder="Enter OTP">
        </div>
        <div class="form-group" *ngIf="IsValidEmail">
          <input type="password" formControlName="Newpassword" class="form-control" placeholder="New Password"
            [ngClass]="{ 'is-invalid': submitted && ForgetForm.controls.password.errors }" />
          <div *ngIf="submitted && ForgetForm.controls.password.errors" class="text-danger">
            <div *ngIf="ForgetForm.controls.password.errors.required">Password is required</div>
            <div *ngIf="ForgetForm.controls.password.errors.minlength">Password must be at least 4 characters</div>
          </div>
        </div>
        <div class="form-group" *ngIf="IsValidEmail">
          <input type="password" formControlName="Confirmpassword" class="form-control" placeholder="Confirm Password"
            [ngClass]="{ 'is-invalid': submitted && ForgetForm.controls.password.errors }" />
          <div *ngIf="submitted && ForgetForm.controls.password.errors" class="text-danger">
            <div *ngIf="ForgetForm.controls.password.errors.required">Password is required</div>
            <div *ngIf="ForgetForm.controls.password.errors.minlength">Password must be at least 4 characters</div>
          </div>
        </div>
      </div>
      

      <div class="form-group">
        <button class="btn btn-primary" *ngIf="! IsValidEmail">Send OTP</button>
        <button class="btn btn-primary" *ngIf=" IsValidEmail" (click) = 'verifyOtp()'>Submit Password</button>
      </div>
    </form>
  </div>
</mat-card>
