<app-adminnavbar></app-adminnavbar>
<h1>Customer Details</h1>
<div class="">
    <table class="table table-striped">
        <tr>
          <th>User Id</th>
          <th>Name</th>
          <th>Email ID</th>
          <th>Birth Date</th>
        </tr>       
    
        <tr *ngFor="let customer of AllCustomers" >
          <td *ngIf="customer.registrationStatus===2">{{customer.id}}</td>
          <td *ngIf="customer.registrationStatus===2">{{customer.firstName +" "+customer.lastName}}</td>
          <td *ngIf="customer.registrationStatus===2">{{customer.emailID}}</td>
          <td *ngIf="customer.registrationStatus===2">{{customer.dob}}</td>
        </tr>
      </table>
</div>