<div class="logo">
    <img src="../../assets/images/header.jpg" alt="image not found">
</div>

<nav>
    <mat-toolbar  class="bg-primary">
    <button mat-button routerLink="/home" > Home </button>
    <button mat-button [matMenuTriggerFor]="customer">Customer</button>
    <mat-menu #customer="matMenu" class="bg-info">
      <button mat-menu-item routerLink="/Customer/accountDetails">Account details</button>
      <button mat-menu-item routerLink="/customerDetails">Customer details</button>
      <button mat-menu-item routerLink="/accountStatement">Account Statement</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="employee">Employee</button>
    <mat-menu #employee="matMenu" class="bg-info">  
      <button mat-menu-item routerLink="/employeeDetails" >Employee details</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="request">Request</button>
    <mat-menu #request="matMenu" class="bg-info">
      <button mat-menu-item [matMenuTriggerFor]="employeeSub">Employee</button>
      <mat-menu #employeeSub="matMenu" class="bg-info">
        <button mat-menu-item routerLink="/employeeRegistrationRequest">Registration Request</button>
        <button mat-menu-item routerLink="/employeeUpdateProfile">Update Profile</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="customerSub">Customer</button>
      <mat-menu #customerSub="matMenu" class="bg-info">
        <button mat-menu-item routerLink="/customerRegistrationRequest">Registration Request</button>
        <button mat-menu-item routerLink="/customerUpdateProfile">Update Profile</button>
      </mat-menu>
    </mat-menu>
    <button mat-button > Logout </button>
</mat-toolbar>
</nav>