<app-employee-navbar></app-employee-navbar>

<ngx-spinner
  bdColor="rgba(51,51,51,0.9)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: rgb(255, 255, 255)">Loading...</p>
</ngx-spinner>

<!-- <div class="">
    <table class="table table-striped">
        <tr>
            <th>Account Number</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Account Type</th>
            <th>Account Status</th>
            <th>Account Registration Status</th>
        </tr>
        <tr *ngFor="let customer of AllCustomers">
            <td *ngIf="customer.accountNumber===0 && customer.accountregstatus!=1" class="text-danger">Not Generated
            </td>
            <td *ngIf="customer.accountNumber!=0 && customer.accountregstatus!=1">{{customer.accountNumber}}</td>
            
            <td *ngIf="customer.accountNumber!=0 && customer.accountregstatus!=1">{{customer.firstName +"
                "+customer.lastName}}</td>

            <td *ngIf="customer.balance===0 && customer.accountregstatus!=1" class="text-danger">Not Available</td>
            <td *ngIf="customer.balance!=0 && customer.accountregstatus!=1">{{customer.balance}}</td>

            <td *ngIf="customer.accounttype===1 && customer.accountregstatus!=1">Salary</td>
            <td *ngIf="customer.accounttype===2 && customer.accountregstatus!=1">Current</td>

            <td *ngIf="customer.accountStatusId===1 && customer.accountregstatus!=1" class="text-success">Active</td>
            <td *ngIf="customer.accountStatusId===2 && customer.accountregstatus!=1" class="text-danger">Inactive</td>
            <td *ngIf="customer.accountStatusId===3 && customer.accountregstatus!=1" class="text-primary">Deactivated</td>
           
            <td *ngIf="customer.accountregstatus===2" class="text-success">Approved</td>
            <td *ngIf="customer.accountregstatus===3" class="text-danger">Rejected</td>
        </tr>
    </table>
</div> -->

<div class="container">
  <h1 style="text-align: center">Customer Account Details</h1>

  <mat-form-field class="container">
    <mat-label>Search Here</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 container">
    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef>Account Number</th>
      <td mat-cell *matCellDef="let element">
        <label
          *ngIf="element.accountNumber === 0 && element.accountregstatus != 1"
          class="text-danger"
        >
          Not Generated
        </label>
        <label
          *ngIf="element.accountNumber != 0 && element.accountregstatus != 1"
        >
          {{ element.accountNumber }}
        </label>
      </td>
    </ng-container>
    <!-- 1 -->

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Customer Name</th>
      <td mat-cell *matCellDef="let element">
        <label
          *ngIf="element.accountNumber != 0 && element.accountregstatus != 1"
        >
          {{ element.firstName + " " + element.lastName }}
        </label>
      </td>
    </ng-container>
    <!-- 2 -->

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>Customer Account Balance</th>
      <td mat-cell *matCellDef="let element">
        <label
          *ngIf="element.balance === 0 && element.accountregstatus != 1"
          class="text-danger"
        >
          Not Available
        </label>
        <label *ngIf="element.balance != 0 && element.accountregstatus != 1">
          {{ element.balance }}
        </label>
      </td>
    </ng-container>
    <!-- 3 -->

    <ng-container matColumnDef="accounttype">
      <th mat-header-cell *matHeaderCellDef>Customer Account Type</th>
      <td mat-cell *matCellDef="let element">
        <label
          *ngIf="element.accounttype === 1 && element.accountregstatus != 1"
        >
          Salary
        </label>
        <label
          *ngIf="element.accounttype === 2 && element.accountregstatus != 1"
        >
          Current
        </label>
      </td>
    </ng-container>
    <!-- 4  -->

    <ng-container matColumnDef="accountregstatus">
      <th mat-header-cell *matHeaderCellDef>Customer Account Status</th>
      <td mat-cell *matCellDef="let element">
        <label
          *ngIf="element.accountStatusId === 1 && element.accountregstatus != 1"
          class="text-success"
        >
          Active
        </label>
        <label
          *ngIf="element.accountStatusId === 2 && element.accountregstatus != 1"
          class="text-danger"
        >
          Inactive
        </label>
        <label
          *ngIf="element.accountStatusId === 3 && element.accountregstatus != 1"
          class="text-primary"
        >
          Deactivated
        </label>
      </td>
    </ng-container>
    <!-- 5 -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[7]" showFirstLastButtons></mat-paginator>
</div>
