.form-group{
    width: 50%;
}

form-control{
    width: 20%;
}

.main-div mat-card{
    padding: 0px;
}
.register-form{
    padding: 20px;
}
.required label:after 
{ 
    content:"*";
    color: red; 
}