<app-employee-navbar></app-employee-navbar>
<h1>Welcome Employee</h1>
<div id="overflowTest">
<div class="container text-center">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="https://wallpapercave.com/wp/wp3228265.jpg" alt="image not found" style="height: 400px;">
        </ng-template>
        <ng-template carouselSlide>
            <img src="https://wallpaperaccess.com/full/52907.jpg" alt="image not found" style="height: 400px;">
        </ng-template>
        <ng-template carouselSlide>
            <img src="https://www.hdnicewallpapers.com/Walls/Big/Countries%20and%20City/Empire_State_Building_Skyscraper_in_New_York_City_USA_HD_Wallpaper.jpg"
                alt="image not found" style="height: 400px;">
        </ng-template>
    </owl-carousel-o>
</div>

<div>
    <img src="../../assets/images/impontantNotice.JPG" alt="image not found">
</div>
</div>