<app-adminnavbar></app-adminnavbar>
<h1 style="text-align: center;">Customer Registration Request</h1>
<div class="">
    <table class="table table-striped">
        <tr>
          <th>User Id</th>
          <th>Name</th>
          <th>Email ID</th>
          <th>Birth Date</th>
          <th>Action</th>
        </tr>       
    
        <tr *ngFor="let customer of AllCustomers">
          <td>{{customer.id}}</td>
          <td>{{customer.firstName +" "+customer.lastName}}</td>
          <td>{{customer.emailID}}</td>
          <td>{{customer.dob}}</td>
          <td *ngIf="customer.registrationStatus===1"><button (click)="approveCustomer(customer)" class="btn btn-success">Approve</button> <button (click)="rejectRegistrationRequest(customer)" class="btn btn-danger">Reject</button></td>
          <td *ngIf="customer.registrationStatus===2" class="text-success">Approved</td>
          <td *ngIf="customer.registrationStatus===3" class="text-danger">Rejected</td>
        </tr>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg">
          <li class="page-item "><a class="page-link" href="#">Previous</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
</div>

