<app-adminnavbar></app-adminnavbar>

<ngx-spinner
  bdColor="rgba(51,51,51,0.9)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: rgb(255, 255, 255)">Loading...</p>
</ngx-spinner>
<h1>Profile</h1>
<div class="card">
  <div class="name" for="firstName">
    <img src="../../assets/images/profile.png" />
    <p>{{ Admin.firstName + " " + Admin.lastName }}</p>
  </div>
  <div>
    <p>{{ Admin.emailID }}</p>
  </div>
  <div>
    <p>{{ Admin.mobileNo }}</p>
  </div>
  <div>
    <p>{{ Admin.permanentAddress }}</p>
  </div>
  <div>
    <p>{{ Admin.permanentCity }}</p>
  </div>
  <div>
    <p>{{ Admin.permanentState }}</p>
  </div>
</div>
