<app-adminnavbar></app-adminnavbar>
<p>customer-update-profile works!</p>
<h1 style="text-align: center;">Customer Update Request List</h1>
<div class="">
    <table class="table table-striped" style="width:50%">
        <tr>
            <th>User Request Id</th>
            <th>Email ID</th>
            <th>New Mobile No</th>
            <th>New Account Status</th>
            <th>Action</th>
        </tr>

        <tr *ngFor="let updaterequests of UpdateRequests">
            <td>{{updaterequests.userRequestId}}</td>
            <td>{{updaterequests.emailID}}</td>
            <td>{{updaterequests.newMobileNo}}</td>
            <td>{{updaterequests.newAccountStatus}}</td>
            <td>
                <button (click)="approveUpdateRequest(updaterequests)" class="btn btn-success"
                    style="margin-right: 30px;">Approve</button> <button (click)="rejectUpdateRequest(updaterequests)"
                    class="btn btn-danger" style="margin-left: 30px;">Reject</button></td>
            <td *ngIf="updaterequests.requestStatus===2" class="text-success">Approved</td>
            <td *ngIf="updaterequests.requestStatus===3" class="text-danger">Rejected</td>

        </tr>



    </table>
</div>